<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<title>健康登録</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="d-flex gap-2 justify-content-center mt-3">
			<div class="card col-8 bg-light rounded-4">
				<div class="cart-body m-4">
					<form th:action="@{/user/input}" 
							method="post"
							th:object="${healthCheck}">
						<h3>健康診断登録</h3>
						<input type="hidden"
           						th:field="*{healthCheckId}">
						<div class="form-group label mt-4">
							<label class="px-2 fs-5" for="userId">ユーザーID</label>
							<input type="text" 
									class="form-control input-control"
									id="userId"
									th:field="*{userId}"
									readonly>
						</div>
						<div class="form-group label mt-4">
        					<label class="px-2 fs-5" for="checkDate">健診日</label>
        					<input type="date"
       								id="checkDate"
       								name="checkDate"
       								class="form-control"
               						th:field="*{checkDate}">
    					</div>
    					<div class="form-group label mt-4">
        					<label class="px-2 fs-5" for="height">身長</label>
        					<input type="number"
               						step="0.1"
               						id="height"
               						class="form-control"
               						th:field="*{height}">
    					</div>
    					<div class="form-group label mt-4">
        					<label class="px-2 fs-5" for="weight">体重</label>
        					<input type="number"
               						step="0.1"
               						id="weight"
               						class="form-control"
               						th:field="*{weight}">
    					</div>

    					<div class="form-group label mt-4">
        					<label class="px-2 fs-5" for="systolicBloodPressure">最高血圧</label>
        					<input type="number"
               						id="systolicBloodPressure"
               						class="form-control"
               						th:field="*{systolicBloodPressure}">
    					</div>

    					<div class="form-group label mt-4">
        					<label class="px-2 fs-5" for="diastolicBloodPressure">最低血圧</label>
        					<input type="number"
               						id="diastolicBloodPressure"
               						class="form-control"
               						th:field="*{diastolicBloodPressure}">
    					</div>
    					
    					<div class="text-center mt-4">
    						<a th:href="@{/user/list}" class="btn btn-secondary">
								一覧へ戻る
							</a>
        					<button type="submit" class="btn btn-primary">
            					登録
        					</button>
    					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>